html {
  font-family: 'Scheherazade New', serif;
}
h1{
  font-family: 'Qahiri', sans-serif;
}
header p {
  font-size: 20px;
}
aside p {
  font-size: 14px;
}
header h1 {
  font-size: 50px;
}
h1 header {
  font-size: 50px;
  text-align: center;
}
header,article {
  max-width: 600px;
  margin: 0 auto;
}